<h1><%= @post.title %></h1>

Posted by:
<div style="color:#BC3CBC">
  <p><%= @post.user.email %></p>
</div>

<%= @post.text %>

<%= image_tag(@post.picture_url, :width => 600) if @post.picture.present? %>

<h2>Comments</h2>

<% @post.comments.each do |comment| %>
  <p><%= comment.text %></p>
  <p><%= time_ago_in_words comment.created_at %> ago</p>

  <% if @post.user == current_user %>
  <p><%= link_to "Delete comment", [@post, comment], :method => :delete, :confirm => "Are you sure?" %>
  	<% end %>
<% end %>

<%= form_for [@post, @post.comments.build] do |f| %>
  <p><%= f.text_area :text, :size => '40x10' %></p>
  <p><%= f.submit "Post comment" %></p>
<% end %>

<p>
<%= link_to "Back", posts_path%>

<% if @post.user == current_user %>
   <%= link_to "Edit", edit_post_path(@post) %>
   <%= link_to "Delete", @post, :method => :delete, :confirm => "Are you sure?" %>
   <% end %>

</p>








